<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"

  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

<dict>
    <key>Label</key>
    <string>com.pierredecobert.anthropic-rss.plist</string>

    <key>ProgramArguments</key>
    <array>
        <string>python3</string>
        <string>/Users/pierredecobert/Library/Application Support/nom/anthropic/anthropic.py</string>
    </array>

    <key>StartInterval</key>
        <integer>21600</integer>
</dict>

</plist>
